{% extends 'workspace/base.html' %}

{% block title %}Create News{% endblock title %}

{% block content %}

    <style>
    ul.errorlist {
        color: red;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    </style>

    <h1 class="mb-4">Create News</h1>

    <div>
        <form action="{% url 'create_news' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            {{ form.as_p }}

            <div>
                <button type="submit" class="btn btn-success w-100 d-block">Create</button>
            </div>

        </form>
    </div>

{% endblock content %}